.html{
    font-size: 62.5%;
}

.construction{
    color: white;
    font-size: 10rem;
    margin-bottom: 20%;
    text-align: center;
    margin-top: 5%;
}
.body{ 
    height: 100vh; 
    background: content-box radial-gradient(#02020298, rgba(1, 7, 10, 0.986));
    max-width: 100%;
}
/* <!-- home start --> */
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;  
    
}
.header__home{
    display: flex;
    flex-direction: column;
    margin: 0rem;
    padding: 0rem;
}
.home__picture{
    height: 50vh;
    padding: 0.5rem; 
   
}
/* <!-- Menu start --> */
.menu{
    background-color: #070707;
    width: 110%;
    height: 10vh;
    align-items: center;
    margin: 1rem;
    text-align: center;
    
}
.menu>button{
   
    width: 25%;
    font-size: 2rem;
    border: 0.5rem solid;
    background-color: #f0e9f062;
    border-radius: 2rem;
    border: 4px solid #444447; 
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem; 
}

#accueil{
  
    color: white;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    max-width: 100%;
    
}
#avis{
   
    color: white;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    max-width: 100%;
       
}
#reseau{
   
    color: white;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    max-width: 100%;
}
/* <!-- home end --> */
/* <!-- navigation start --> */
.container {
    width: 90%;
    margin: 1% auto;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4%;
}

.product-list__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid #ccc;
    color: white;
    padding: 1%;
    margin: 0.5%;
}


.product-list__item-img {
     margin: 2%;
}

.product-list__item-saga {
    font-weight: bold;
    color: white;
    border-bottom: 2px solid white;
    padding: 1%;
    margin-bottom: 1%;
    text-transform: uppercase;
}

.product-list__item-title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 2%;
}

.product-list__item-description {
    margin: 2%;
  font-size: 2em;

}

.product-list__item-add-notice {
    color: white;
    padding: 4% 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    margin-top: 1%;

}

.product-list__item-price--discount {
    font-size: 0.8em;
    text-decoration: line-through;
    margin-right: -30%;
}

.product-list__item-price {
    font-weight: bold;
    font-size: 1.1em;
}
#Commander{
    background-color: #6c6c70;
    border-radius: 2rem;
    font-size: 2em;
    color: white;
    padding: 4% 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    margin-top: 3%; 
}

#Article{
    background-color: #323335;
    border-radius: 2rem;
    font-size: 2em;
    color: white;
    padding: 4% 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    margin-top: 2%;    
}


/* <!-- main avis start --> */ /* <!-- main avis  start --> */
.container{
    width: 90%;
    margin: 1% auto;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4%;
   
    
}

.product-list__avis {
    display: flex;
    flex-direction: column;
    width: 35%;
    border: 1px solid #0a0909;
    color: white;
    padding: 1%;
    margin-left: 1%;
    font-size: 1.5rem;
   
}


.product-list__avis-img {
    width: 27%;
    margin-left: 1rem; 
    margin-right: 0.5rem;
 }

.product-list__avis-saga {
    font-weight: bold;
    color: white;
    border-bottom: 2px solid white;
    padding: 1%;
    margin-bottom: 1%;
    text-transform: uppercase;
}

.product-list__avis-title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 2%;
}

.product-list__avis-description {
    margin: 2%;
}

.product-list__avis-add-notice {
    color: white;
    padding: 4% 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    margin-top: 1%;

}

.product-list__avis-price--discount {
    font-size: 0.8em;
    text-decoration: line-through;
    margin-right: -30%;
}

.product-list__avis-price {
    font-weight: bold;
    font-size: 1.1em;
}
#Commander{
    background-color: #080808;
    border-radius: 2rem;
    font-size: 2em;
    color: rgb(243, 241, 241);
    padding: 4% 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    margin-top: 3%; 
}



/* <!-- main avis end --> */ /* <!-- main avis  end --> */

/* <!-- footer start --> */ /* <!-- footer start --> */


.footer--info{padding: 1rem;
    background: #0c0c0c;
    color: rgb(241, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    color: white;
    font-size: 0.8rem;
    padding: 1rem;
    text-align: center;
}
/* <!-- footer end --> */  /* <!-- footer end --> */